<!-- Thumbnail Gallery 4x4
https://startbootstrap.com/template-overviews/thumbnail-gallery/

Lightbox with Gutters
http://ashleydw.github.io/lightbox/
https://mdbootstrap.com/docs/jquery/javascript/demo/bootstrap-gallery/

Menu Item Carousel
https://mdbootstrap.com/docs/jquery/javascript/demo/bootstrap-gallery/

Mobrise
https://mobirise.com/bootstrap-gallery/htmlimagegallery.html
Use Various Tags For Your Images

Thumbnails, Masonry

div class="thumbnail"
a
img
div class="caption"
https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_img_thumbnail2&stacked=h

Examples
https://bootsnipp.com/tags/gallery
-->
<p>
  photos works!
</p>
