
.wc-modal-header-color {
    // background-color: #4d1b00;
    background-color: #3e3117;
}

.wc-modal-body-color {
    // background-color: #FF6700; //safety orange
    // background-color: #dfa943; // caramel woods
    background-color: #eab64f;
}

.contact-me-text-color {
    // color: #ffb400;
    color: white;
}

.contact-me-submit {
    color: white;
    border-color: white;
}