<!-- https://markdowntohtml.com/ -->

<div class="container-fluid wc-page-background wc-expand wc-mouse-circle">
    <div class="row">
        <div class="col-12">
        
                <h1 id="william-capozzoli">William Capozzoli</h1>
<p><strong>Nationality:</strong> USA<br><strong>Home Base:</strong> Boston<br><strong>Work Location:</strong> Remote, lived in Brazil, Colombia and Ukraine<br><strong>Languages Spoken:</strong> Portuguese &amp; Spanish (advanced), French, Ukrainian (beginner)</p>
<h2 id="languages">Languages</h2>
<h4 id="professional">Professional</h4>
<ul>
<li>Javascript, Solidity, Java</li>
<li>ES6, Node.js, HTML5, Bootstrap, CSS3, REST API, Express, Promises, Web3, React, Redux, Angular, Google Cloud Platform, AWS, Webpack, Babel, C++</li>
</ul>
<h4 id="knowledgeable">Knowledgeable</h4>
<ul>
<li>Android, Kotlin, </li>
<li>Elastic Beanstalk, S3, SNS/SQS, </li>
<li>Web Audio API, D3.js, Electron, Sockets<h4 id="database">Database</h4>
</li>
<li>Data Modeling, SQL, Postgresql, Sequelize, Mysql</li>
<li>NoSQL, MongoDB, Mongoose</li>
<li>Hadoop<h4 id="tools">Tools</h4>
</li>
<li>UNIX, Bash, iTerm, Tmux, </li>
<li>Geth, Solc, </li>
<li>Git, Github, Visual Studio Code, Jetbrains</li>
<li>Docker, Heroku, SSH</li>
</ul>
<h2 id="current-job-freelance-entrepreneurship">Current Job - Freelance &amp; Entrepreneurship</h2>
<h3 id="claimcdr-software-engineer-co-founder-equity-partner">ClaimCDR - Software Engineer, Co-Founder &amp; Equity Partner</h3>
<ul>
<li>www.claimcdr.com Nov 2017 - 2018</li>
<li>Building a platform for Medical Claims Settlement, using React-Redux, Node, Postgres, FHIR</li>
<li>Store clinical and administrative data in a global standard called FHIR, a database and REST API implementation</li>
</ul>
<h3 id="blockchain">Blockchain</h3>
<h4 id="consensys-developer-academy">ConsenSys Developer Academy</h4>
<ul>
<li>Smart contract and dApp development course to become an industry-leading ethereum developer. 2018<h4 id="full-stack-fund">Full Stack Fund</h4>
</li>
<li><a href="github.com/thinkocapo/full-stack-fund">link</a> Medellin, Colombia 2018</li>
<li>Smart contracts for creating individual ether lotteries with varying participants and contribution amounts</li>
<li>Metamask, Web3js, Solidity Contracts, Ganache, Testrpc, automated by Tmux and shell scripts<h4 id="hashtronic">Hashtronic</h4>
</li>
<li><a href="github.com/thinkocapo/hash-tronic">link</a> Medellin, Colombia 2018</li>
<li>Web3 and Node.js Scripting utility to send raw ethereum transactions on mainnet, using remote geth node API
Paratii github.com/Paratii-Video</li>
<li>Open-source contributions to a decentralized video player Paratii<h4 id="blockchain-r-d-and-leadership">Blockchain R&amp;D and Leadership</h4>
</li>
<li>Run full nodes of Ethereum, EOS, Cardano, Bitcoin</li>
<li>Blockchain presentation and demo to peers and cryptocurrency meetup in Medellin • Reddit.com/user/thinkocapo/ r/ethdev</li>
</ul>
<h3 id="other-projects">Other Projects</h3>
<ul>
<li><a href="github.com/thinkocapo/repositories">repositories</a> - Rag Tag on Android, Tmux-Fun, Audio-Visualizer with Electron.io D3.js</li>
</ul>
<h2 id="past-software-jobs">Past Software Jobs</h2>
<h3 id="moderna-therapeutics-software-engineer">Moderna Therapeutics - Software Engineer</h3>
<ul>
<li>Developed microservices for biopharma R&amp;D using Angular.js, Node.js, REST API, Postgresql, Docker, AWS</li>
<li>Creation and routing of mRNA sequence data between web apps and AWS cloud services for its nucleic sequence
design, registration, ordering, reviewal and tracking by executives in its pipeline from discovery to FDA Approval</li>
<li>Customized UI, dashboards, filters, relational data display, modals, wizards, and used Bootstrap<h4 id="fullstack-academy-nyc">Fullstack Academy NYC</h4>
</li>
<li>August - December 2015</li>
<li>Immersive software engineering bootcamp, focusing on JavaScript and the MEAN stack</li>
<li>Created audio visualizer of music by adjusting audio buffers, frequencies, decibels, shapes, and colors (see github)<h4 id="educare-br-intern-developer">Educare.br - Intern Developer</h4>
</li>
<li>São Paulo, Brazil Jan - Jul 2015</li>
<li>Online virtual classrooms, learned MVC and CakePHP, worked in Portuguese with developers in São Paulo office</li>
<li>Self-taught javascript and web dev from an apartment in São Paulo, to pass entrance exams for Fullstack Academy</li>
</ul>
<h2 id="early-work-experience">Early Work Experience</h2>
<h3 id="eclinicalworks">eClinicalWorks</h3>
<h4 id="product-management-business-development-orlando-fl-boston-ma-2013-2014">Product Management &amp; Business Development Orlando, FL &amp; Boston, MA 2013 - 2014</h4>
<ul>
<li>Collaborated with software engineers to develop interoperability product called P2P, and eClinicalMobile<h4 id="implementation-consultant-tampa-fl-2011-2013">Implementation Consultant Tampa, FL 2011 - 2013</h4>
</li>
<li>Sole on-site consultant for a 16 month long EMR IT implementation with Baycare Health (500 Doctors)<h4 id="software-trainer-25-training-assignments-across-15-states-2010-2011">Software Trainer 25 Training Assignments across 15 States 2010 - 2011</h4>
</li>
<li>Trained doctors and administrators on EMR in highly-supervised enterprise environments<h3 id="johns-hopkins-university-s-center-for-talented-youth">Johns Hopkins University’s Center For Talented Youth</h3>
<h4 id="teaching-assistant-summer-2009-2010-2011">Teaching Assistant Summer 2009, 2010, 2011</h4>
</li>
<li>Taught 220 hours of biotechnology in intensive 3 week sessions to advanced teenagers in labs and classrooms</li>
</ul>
<h2 id="education">Education</h2>
<h4 id="harvard-extension-school-august-2016-december-2016">Harvard Extension School August 2016 - December 2016</h4>
<ul>
<li>Java for Distributed Programming &amp; Hadoop course, Core Java, Multi-threading, MapReduce jobs in Hadoop<h4 id="roger-williams-university-b-s-biology-2006-2010">Roger Williams University B.S. Biology 2006 - 2010</h4>
</li>
</ul>

        
        </div>
    </div>
</div>