h5 {
    margin-bottom:4px;
}

ul {
    margin-bottom: 4px;
}

div {
    font-family: "Times New Roman", Times, serif;
}

.gene-checkbox {
    padding-top: 9px;
}

.wc-radio-margin {
    margin-bottom: 0px;
}

.indent {
    text-indent: 50px;
}