@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.no-border {
  border-style: none;
}

.mini-nav-item {
  // original
  // margin-right: 10px; // put back
  text-align: center;
  color: black;
  border-color: black;
  border-width: 2px;
  float: left; // put back

  // update
  // max-width: fit-content;
  // margin: 3px 3px 3px 3px;


  width: 25%;
  min-width: fit-content;

  padding-left: 1px;
  padding-right: 1px;
}



// w3 js mobile navbar
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}