<header class="wc-header">
  <nav class="navbar navbar-expand-lg navbar-dark wc-navbar">
    
    <!-- MENU 'HAMBURGER' -->
    <!-- <button
      (click)="toggleMenu()"
      class="navbar-toggler" type="button" aria-controls="navbar-menu"
      aria-label="Toggle navigation" [attr.aria-expanded]="!menuHidden">
      <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>MENU</a>    
      <a class="navbar-brand" translate>MENU</a>
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- MINI NAVBAR -->
    <div 
      class="navbar-toggler no-border" aria-controls="navbar-menu"
      aria-label="Toggle navigation" [attr.aria-expanded]="!menuHidden">
      <div class="col-12 wc-mobile-mini-menu">MOBILE MINI-MENU</div>
      <div class="col-12">
          <h5 class="mini-nav-item navbar-toggler">RESUME</h5>
          <h5 class="mini-nav-item navbar-toggler">FHIR</h5>
          <h5 class="mini-nav-item navbar-toggler">BLOCKCHAIN</h5>
          <h5 class="mini-nav-item navbar-toggler">CODE</h5>
      </div>
    </div>

    <div id="navbar-menu" class="collapse navbar-collapse justify-content-center float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>RESUME</span>
        </a>
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>FHIR</span>
        </a>
        <a *ngIf="menuHidden" class="nav-item wc-nav-app-name nav-link text-uppercase text-center" routerLink="/home" routerLinkActive="active">
          <span class="wc-nav-text-color" bg-success translate>APP_NAME</span>
        </a>
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>BLOCKCHAIN</span>
        </a>
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>GITHUB/CODE</span>
        </a>
      </div>
    </div>

  </nav>
</header>
