@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.mini-nav-item {
  float: left;
  // width: 33%;
  // border: 1px solid #000;
  margin-right: 10px;
  text-align: center;
  color: black;
  border-color: black;
}

.no-border {
  border-style: none;
}