@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}



.wc-brand {
  height: 63px;
  width: 161px;
  margin: auto;
  text-align: center;
  font-size: 30px;
}