@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.no-border {
  border-style: none;
}

.wc-mobile-mini-menu {
  text-align: center;
  color: black;
  padding-bottom: 3px;
  font-weight: bold;
}
  
// max-width: fit-content;
.mini-nav-item {
  text-align: center;
  color: black;
  border-color: black;
  border-width: 2px;
  // float: left; // put back
  // width: 25%;
  min-width: fit-content;
  padding-left: 1px;
  padding-right: 1px;

  float:left;
  margin-left: 5px;
  height: 43px;
}
.mini-nav-item:hover {
  background-color: #ddd;
  color: black;
}

// W3 How to Create Full Style (Block) Width Buttons
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_block_buttons
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block:hover {
  background-color: #ddd;
  color: black;
}


// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar_hor
// w3 js mobile navbar
// .mobile-container {
//   max-width: 480px;
//   margin: auto;
//   background-color: #555;
//   height: 500px;
//   color: white;
//   border-radius: 10px;
// }
// ^^ ?
// .topnav {
//   overflow: hidden;
//   background-color: #333;
//   position: relative;
// }

// .topnav #myLinks {
//   display: none;
// }

// .topnav a {
//   float: left;
//   color: white;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 17px;
// }

// .topnav a.icon {
//   float: right;
// }

// .topnav a:hover {
//   background-color: #ddd;
//   color: black;
// }

// .active {
//   background-color: #4CAF50;
//   color: white;
// }



