<header class="wc-header">
  <nav class="navbar navbar-expand-lg navbar-dark wc-navbar">
    
    <!-- <button
      (click)="toggleMenu()"
      class="navbar-toggler" type="button" aria-controls="navbar-menu"
      aria-label="Toggle navigation" [attr.aria-expanded]="!menuHidden">
      <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>MENU</a>    
      <a class="navbar-brand" translate>MENU</a>
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div 
      class="navbar-toggler no-border" aria-controls="navbar-menu"
      aria-label="Toggle navigation" [attr.aria-expanded]="!menuHidden">
    <!-- I AM SHOWN -->
      <h5 class="mini-nav-item navbar-toggler">RESUME</h5>
      <h5 class="mini-nav-item navbar-toggler">FHIR</h5>
      <h5 class="mini-nav-item navbar-toggler">BLOCKCHAIN</h5>
      <h5 class="mini-nav-item navbar-toggler">CODE</h5>
    </div>

    <!-- <div id="navbar-menu-2" class="collapse navbar-collapse justify-content-center float-xs-none" [ngbCollapse]="!menuHidden">
        <div class="navbar-nav ml-auto">
            <div class="nav-item" ngbDropdown placement="bottom-right">
              <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentNavbarItem}}</a>
              <div ngbDropdownMenu aria-labelledby="language-dropdown">
                <button class="dropdown-item" *ngFor="let item of navbarItems" (click)="selectMenuOption(item)">
                  {{item}}
                </button>
              </div>
            </div>
        </div>
    </div> -->

    <div id="navbar-menu" class="collapse navbar-collapse justify-content-center float-xs-none" [ngbCollapse]="menuHidden">
      
      <div class="navbar-nav">
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>RESUME</span>
        </a>
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>FHIR</span>
        </a>
        <a *ngIf="menuHidden" class="nav-item wc-nav-app-name nav-link text-uppercase text-center" routerLink="/home" routerLinkActive="active">
          <span class="wc-nav-text-color" bg-success translate>APP_NAME</span>
        </a>
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>BLOCKCHAIN</span>
        </a>
        <a class="nav-item wc-nav-item wc-nav-text-color nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span translate>GITHUB/CODE</span>
        </a>
      </div>



      <!-- <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLanguage}}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{username}}</b></h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div> -->

    </div>

  </nav>
</header>
