/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 * Web-safe fonts https://www.w3schools.com/cssref/css_websafe_fonts.asp
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "theme/theme";

/**** PALETTES ****/
// Camoflage Palette
.palette-1 {
    color: #604439; // brown
    color: #9e9a75; // tan
    color: #1c222e; // black
    color: #41533b; // green
    color: #554840; // brown grey
    color: #FF6700; // safety orange
}
// https://www.color-hex.com/color-palette/5216 Camouflage Palette
.palette-2 {
    color: #002500; // green
    color: #502500; // brown
    color: #505000; // olive
    color: #000000; // black
    color: #aa8060; // peach
}
// Soil Color Palette
// https://www.color-hex.com/color-palette/15769 
// Caramel Woods Palette
// https://www.color-hex.com/color-palette/14750


/******** CARD ******/
#wc-card-container {
    // cursor: default;
    max-width: 75%;
}
// by id selector because only 1 place used
#wc-card {
    background-color: #9e9a75 !important;
    cursor: pointer;
    // background-color: #554840 !important
}
#wc-card:hover {
  background-color: white !important;
}
.wc-card-position {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
}
.wc-card-style { // 19 to only fit 4 Cards in 1 Row
    min-height: 15rem;
    max-height: 15rem;
    min-width: 15rem;
    max-width: 15rem;
    padding-top: 17px;
}
.wc-card-img {
    max-height: 100% !important;
    max-width: 100% !important;
    margin-top: -17px;
    border-radius: 3.0rem 3.0rem 0 0; // it was 3.25 but that left a space
    // height: 75%;
    // width: 75%;
    // height: auto;
    // width: 75%;
}

.card {
    max-height: 250px;
    border-radius: 3.25rem !important;
    border-style: solid;
    border-width: 5px;
    // max-width: 75%;
    // border-color: #dfa943;
}
.card-body {
    max-height: 100% !important;
    max-width: 100% !important;
    padding-top: 5px;
    // width: auto;
    // height: auto;
}
.card-title {
    margin-bottom: 3px;
}


/********** NAVBAR header.component.html ************/
.wc-header {
    border-color: black;
    border-style: solid none solid none;
    border-width: 5px 0px 5px 0px;
    border-radius: 6px;
    // border-top-style: inset;
}
.wc-navbar {
    // background-color: #9e9a75 !important
    background-color: #554840 !important;
    margin-bottom: 0px !important;
}
.wc-nav-item {
    height: 50px;
    width: 200px;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
.wc-nav-text-color {
    color: #1c222e !important;
    font-weight: 900; // normal , lighter, bold, 800
}
.wc-nav-app-name {
    font-size: 38px;
    // margin: auto;
    // text-align: center;
    width: 225px;
}
.wc-mobile-mini-menu {
    text-align: center;
    color: black;
    padding-bottom: 3px;
}


/************ BACKGROUND index.html <html> home.component.html > container ******/
.wc-body-background {
    background-color: #41533b;
    border-radius: 6px;
    padding-bottom: 11px;
}


#wc-quote {
    margin: 36px;
    font-style: italic;
    z-index: 1;
}

/********* FOOTER *********/
.wc-footer {
    border-color: black;
    border-style: solid none solid none;
    border-width: 5px 0px 5px 0px;
    border-radius: 6px;
}
.wc-footer-color {
    background-color: #554840 !important;
}
.wc-footer-contact-me {
    font-size: 2em;
    // background-color: #dfa943; // darker, but too dark with opacity filter
    background-color: #ffb400; // brighter, but ok with opacity filter
    color: black;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 100;
    filter: opacity(0.3);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #3e3117;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    // background-color: #efefef;
}

.wrap {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 80px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    // font-family: Tahoma, Geneva, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    // padding-bottom: 6rem;
}


// .wc-mouse-circle:hover {
    // cursor: copy;
    // z-index: -1;
    // background-color: white !important;
// }

// .wc-card-button {
//     background-color: #FF6700; // TEST THIS...implement somewhere
//     border-color: #1c222e;
// }

// .navbar-brand:hover { // didn't work
//     cursor: pointer !important;
// }