<div class="footer wc-footer wc-footer-color">
  <div class="container text-center">
    <span 
    (click)="contactMe()"
    class="wc-footer-contact-me">CONTACT ME</span>
  </div>
</div>

<!-- <h5 class="good">GOODONE</h5> -->


<!-- <button class="btn btn-primary btn-large"> -->
<!-- </button> -->



<!-- align-self-cener -->


<!-- .wc-footer-contact-me {
  background-color: #9e9a75;
  border-radius: 5px;
  border-color: black;
  height: 50px;
  max-width: 50%;

  // margin-left:auto;
  // margin-right:auto;
  display:block;

  margin: 0 auto;

  // vertical-align: middle;
  text-align:center; line-height:25px;

}
.good {
  text-align:center; line-height:25px;
} -->