<footer class="footer wc-footer-color">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="wc-footer-contact-me text-center">
          <!-- <h5 class="good">GOODONE</h5> -->
          CONTACT ME
        </div>
      </div>
    </div>
  </div>
</footer>



<!-- <button class="btn btn-primary btn-large"> -->
<!-- </button> -->



<!-- align-self-cener -->


 <!-- <div class="container">
    <div class="row">
      <div class="col align-self-start">
        1 of three columns
      </div>
      <div class="col align-self-center">
        2 of three columns
      </div>
      <div class="col align-self-end">
        3 of three columns
      </div>
    </div>
  </div> -->