.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

// Cards
.left-style{
  float:left;
  width:45%;
}
.right-style{
  float:right;
  width:45%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

/*
#604439 brown
#9e9a75 tan
#1c222e black
#41533b green
#554840 brown-grey
*/


#parent_div {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 1em auto;
  border: 1px solid #333;
  background: #fefebe;
  // position: relative;
  // width: 80%;
  // height: 300px;
  // margin: 1em auto;
  // border: 1px solid #333;
  // background: #fefebe;
}
#div_moving {
  position: absolute;
  width: 140px;
  height: 65px;
  margin: 0;;
  border: 1px solid #33f;
  background: #88ee99;
}