<!-- https://www.youtube.com/watch?v=2qQxwT-Qm5E -->
<!-- TRY PUTTING TON AVBAR, DUE OT NAV CLASSES HERE * -->


<div id="wc-body-background" class="container-fluid wc-body-background wc-mouse-circle">

  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->
  <!-- <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
  <div class="btn-group mr-3">
    <button type="button" class="btn btn-outline-success">Plain ol' button</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item">One</button>
        <button class="dropdown-item">Two</button>
        <button class="dropdown-item">Four!</button>
      </div>
    </div>
  </div> -->
  <!-- <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div> -->

  <div class="row justify-content-center">
    <div id="wc-card-container" class="col-xs-12 parent justify-content-center">
      <div class="col-12 text-center" style="z-index: 1;">
        <h5 id="wc-quote">Some see life as events on a linear graph. I see life as a journey like Starfox 64</h5>
      </div>

      <!-- Mouse Circle Magnifying Glass -->
      <div id="wc-mouse-circle"></div>

      <!--  Card -->
      <div id="wc-card" 
        *ngFor="let card of cards"
        (click)="handleClick(card.callToAction)"
        class="card wc-card-position wc-card-style text-center" style="width: 18rem">
          <div class="justify-content-center">
            <img class="card-img-top wc-card-img" [src]="card.img" alt="Card image cap">
          </div>
          <div class="card-body">
            <div class="wc-card-title-text">
              <h5 class="card-title">{{card.name}}</h5>
              <p class="card-text">{{card.description}}</p>
            </div>
          </div>
        </div>
      </div>

  </div>   
</div>