.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

// Cards
.left-style{
  float:left;
  width:45%;
}
.right-style{
  float:right;
  width:45%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

/*
#604439 brown
#9e9a75 tan
#1c222e black
#41533b green
#554840 brown-grey
*/

#wc-mouse-circle {
  position: absolute;
  width: 65px;
  height: 65px;
  margin: 0;;
  border: 1px solid grey;
  // background: #88ee99;
  border-radius: 64px;
}