.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

// Cards
.left-style{
  float:left;
  width:45%;
}
.right-style{
  float:right;
  width:45%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

#wc-mouse-circle {
  position: absolute;
  width: 55px;
  height: 55px;
  margin: 0;;
  border: 5px solid black;
  border-radius: 64px;
  // z-index: 1;
}